/* Nanum Barun Gothic */
@font-face {
  font-family: 'NanumBarunGothic';
  src: url(../font/nanumBarunGothic.woff) format('woff');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: bold;
  src: url(../font/nanumBarunGothicBold.woff) format('woff');
}