@@include('./include/head.html',{"title": "Document Title - Sub_02 : UIT Gulp Project", "list_title": "List Title - Sub_02 : Sub"})
<body data-pagestatus="new : 2019.05.20">
@@include('./include/skipnavigation.html')

	<div class="wrap">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>