$normal-vars: (
	'fork': (
		offset-x: 0px,
		offset-y: 0px,
		width: 32px,
		height: 32px,
		total-width: 68px,
		total-height: 68px,
		imageSrc: '../img/sprites/normal.png'
	),
	'github': (
		offset-x: -36px,
		offset-y: 0px,
		width: 32px,
		height: 32px,
		total-width: 68px,
		total-height: 68px,
		imageSrc: '../img/sprites/normal.png'
	),
	'twitter': (
		offset-x: 0px,
		offset-y: -36px,
		width: 32px,
		height: 32px,
		total-width: 68px,
		total-height: 68px,
		imageSrc: '../img/sprites/normal.png'
	),
);
$normal-origin: (
  total-width: 68px,
  total-height: 68px,
  imageSrc: '../img/sprites/normal.png'
);

@mixin sprite-size($image) {
	background-size: map-get($image, 'total-width') map-get($image, 'total-height');
}

@mixin sprite-image($image) {
	$image-path: map-get($image, 'imageSrc');
	background-image: url($image-path);
}

@mixin sprite-image-retina($image) {
	$image-path: map-get($image, 'imageSrc');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';
	background-image: url($image-path-retina);
}

@mixin set-normal {
  @include sprite-size($normal-origin);
  @include sprite-image($normal-origin);
}

@mixin sp-normal($image, $size: true) {
  @include set-normal;
	background-position: map-get(map-get($normal-vars, $image), 'offset-x') map-get(map-get($normal-vars, $image), 'offset-y');
	@if $size {
		width: map-get(map-get($normal-vars, $image), 'width');
		height: map-get(map-get($normal-vars, $image), 'height');
	}
}
